*, *::after, *::before {
	padding: 0;
	margin: 0;

	box-sizing: border-box;

	font-family: Roboto, sans-serif;
}

body {
	width: 100vw;
	height: 100vh;

	background: linear-gradient(to right, #000, #262626);

	overflow: hidden; /*remove scrollbar*/

	display: flex;
	justify-content: center;
	align-items: center;
}

.clock {
	position: relative;

	width: 500px;
	height: 500px;

	border-radius: 50%; /*make it round*/
	overflow: hidden; /*hide the box inside the circle*/

	border: 25px solid #ff5f5f;
	background-color: #fff;
	
	box-shadow: -2px 2px 0 #e23232, inset 0 0 25px rgba(0, 0, 0, 0.5);
}

.clock .num {
	--rotation: 0;

	position: absolute;

	width: 100%;
	height: 100%;

	text-align:center;

	transform: rotate(var(--rotation));

	font-size: 2rem;
}

.clock .num1 { --rotation: 30deg; }
.clock .num2 { --rotation: 60deg; }
.clock .num3 { --rotation: 90deg; }
.clock .num4 { --rotation: 120deg; }
.clock .num5 { --rotation: 150deg; }
.clock .num6 { --rotation: 180deg; }
.clock .num7 { --rotation: 210deg; }
.clock .num8 { --rotation: 240deg; }
.clock .num9 { --rotation: 270deg; }
.clock .num10 { --rotation: 300deg; }
.clock .num11 { --rotation: 330deg; }

.clock .hand {
	--rotation: 0;

	position: absolute;

	bottom: 50%;
	left: 50%;

	background-color: black;
	border: 1px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	transform-origin: bottom;
	transform: translateX(-50%) rotate(calc(var(--rotation)* 1deg));

	z-index: 10;  /*make it come to front */
}

.clock::after { /* make the small dot in the middle of the clock*/
	content: '';

	position: absolute;

	background-color: black;

	z-index: 11;

	width: 15px;
	height: 15px;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	border-radius: 50%;
}

.clock .hand.second {
	width: 3px;
	height: 45%;

	background-color: red;
}

.clock .hand.minute {
	width: 7px;
	height: 40%;

	background-color: black;
}

.clock .hand.hour {
	width: 10px;
	height: 35%;

	background-color: black;
}
